nav {
    color: aliceblue;
    background-color: rgb(55, 162, 162);
    height: 65px;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}